---
import { Astro } from 'astro';
import { SITE_TITLE } from '../config';
---

<footer class="footer footer-center p-4 bg-base-200 text-base-content">
  <div>
    <p>© 2025 {SITE_TITLE}. All rights reserved.</p>
  </div>
</footer>
